name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 12
      uses: actions/setup-java@v1
      with:
        java-version: 12
    - name: Setup environment variables
      env:
        GCP_KEY_FILE: /tmp/gcp.json
        GCP_CRED: {id: "build"}
    - name: Build with Maven
      run: mvn clean install -X
